.pending_tasks, .overdue_tasks, .teams{
  background-color: var(--clr-div-gray);
  color: white;
  width: 100%;
  padding: 1em;
  border-radius: 0.6em;
  height: 100%;
}

.pending_tasks > h1,
.overdue_tasks > h1,
.teams > h1{
  font-weight: 600;
}

.pending_tasks-items, .overdue_tasks-items, .teams-items{
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  max-height: 10em;
  overflow: auto;
}

.pending_tasks-items a, .overdue_tasks-items a, .teams-items a{
  color: black;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.pending_tasks-items a h1, .overdue_tasks-items a h1, .teams-items a h1{
  font-weight: 600;
}

.pending_tasks-items a p, .overdue_tasks-items a p{
  font-size: 0.8rem;
}
